/* CSS général */
body {
    max-width: 1920px;
    margin: auto;
}

* {
    font-family: 'Inter', sans-serif;
}

/* Entête */
header {
    background-color: white;
    position: relative;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
    padding-block: 30px;
    align-items: center;
}

h1 {
    font-size: 26px;
}

.nav ul{
	display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.nav li {
    padding-inline: 10px;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.social-link img {
    width: 20px;
}

/* Section À propos */
#about {
    display: flex;
    background-color: #F6D2B8;
    padding-inline: 100px;
    padding-block: 100px;
    position: relative;
}

.picture {
    flex: 1;
    margin: 0 20px;
}

.picture img {
    width: 100%;
}

.picture.left::before {
    content: '';
    background-color: #E5975F;
    width: 374px;
    height: 329px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#about-me {
    flex: 2;
}

.about-me__title {
    margin-top: 1em;
    margin-bottom: 60px;
    font-size: 30px;
}

.about-me__introduction {
    font-family: 'Spectral', serif;
    font-weight: 800;
    font-style: italic;
    width: 60%;
}

#about-me p {
    font-size: 14px;
    width: 80%;
}

/* Section Galerie */
#gallery {
    padding-block: 2em;
}

.title {
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery .nav {
    justify-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #BEB45A;
}

.nav-pills .nav-link {
    color: #000;
}

.item-column {
    position: relative;
}

.item-column::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.gallery-item {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Section Services */
#services {
    background-color: #A8D5D8;
    position: relative;
    padding: 2em 0;
}

#services .container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.service {
    background-color: white;
    width: 30%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 390px;
}

#services .container::before {
    content: '';
    background-color: #1C6474;
    position: absolute;
    height: 30%;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* Section Contact */
#contact {
    background-color: #D8D3A8;
    position: relative;
    padding-inline: 100px;
    padding-block: 100px;
}

#contact .container {
    display: flex;
}

.form-container {
    flex: 2;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: flex-start;
}

form input, form textarea {
    background-color: transparent;
    border: solid 1px;
}

form input {
    height: 2.5em;
    margin-bottom: 20px;
}

form textarea {
    height: 5em;
    font-size: 1.2em;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #BEB45A;
    padding: 0.5em 1em;
}

/* Réactivité */
									@media all and (max-width: 1180px) {
    .picture {
        flex: 2;
    }

    #about, #contact .container {
        align-items: center;
    }

    .about-me__title {
        margin-top: 0;
        margin-bottom: 1em;
    }

    #about-me h6, #about-me p {
        width: 100%;
    }
}

								@media all and (max-width: 1000px) {
    #about {
        flex-direction: column;
    }

    .picture {
        width: 50%;
    }

    .picture.left::before {
        position: absolute;
        top: 0;
        height: 30%;
        width: 100%;
    }

    .about-me__title {
        text-align: center;
        margin-top: 1em;
    }

    #services .container {
        flex-direction: column;
    }

    .service {
        max-width: 100%;
        margin: 2em 0;
    }
}

								@media all and (max-width: 650px) {
    header {
        flex-direction: column;
        padding-inline: 0;
    }

    header .nav ul {
        width: 100%;
        padding: 0;
    }

    .nav li {
        text-align: center;
        padding-block: 1em;
    }

    #services .container {
        align-items: center;
    }

    .service {
        max-width: 90%;
    }

    #about, #contact {
        padding-inline: 2em;
        padding-block: 2em;
    }
}
